/* CSS stillerinizi buraya girin */
* {
  border: 1px solid limegreen;
  background-color: rgba(116, 116, 116, 0.1);
}

.containerClamp {
  /* width: 900px; media query içine taşındı */
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}

.menu ul {
  padding-inline-start: 0;
}

.menu ul li {
  display: inline-block;
  padding: 10px 20px;
  background-color: darkslategrey;
  text-transform: uppercase;
}

.menu ul li.menu--active {
  background-color: tomato;
}

.menu ul li:hover {
  background-color: darkblue;
}

.menu ul li a {
  color: wheat;
}

.about {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px auto;
}
.about__content {
  /* display: inline-block; */
  margin-top: auto;
  margin-bottom: 20px;
  padding-right: 20px;
  min-width: 200px;
  max-width: 400px;
}
.projects {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects__item {
  /* display: inline-block; */
  margin-bottom: 20px;
}

.project__image {
  background-color: tomato;
  width: 200px;
}

.footer {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.footer__cta {
  display: inline-block;
  text-align: center;
}

/* Extra small devices (phones, 500px and down) */
@media only screen and (max-width: 500px) {
  body {
    background-color: rgba(100, 149, 237, 0.9);
  }

  .header h1 {
    margin-left: 0;
    text-align: center;
  }
  .menu {
    text-align: center;
  }
  .menu ul li {
    display: block;
  }

  .about {
    justify-content: center;
  }
  .about__content {
    padding: 0;
    text-align: center;
  }

  .about__content p {
    text-align: left;
  }
  .projects__item {
    /* display: inline-block; */
    width: 40%;
  }
  .project__image {
    background-color: tomato;
    width: 100%;
  }
  .projects {
    gap: 10px;
    justify-content: space-evenly;
  }
}

/* Medium devices (landscape phones and portraid tablets, 900px and up) */
/* @media only screen and (min-width: 500px) { */
@media only screen and (min-width: 500px) and (max-width: 900px) {
  body {
    background-color: rgba(255, 165, 0, 0.9);
  }
  .projects {
    gap: 30px;
    justify-content: space-evenly;
  }

  .about {
    flex-wrap: nowrap;
  }

  .about__image {
  }

  .about__content {
    min-width: initial;
    max-width: initial;
  }
}

/* Medium devices (laptops/desktops, 900px and up) */
@media only screen and (min-width: 900px) {
  body {
    background-color: rgba(255, 99, 71, 0.9);
  }
  .containerClamp {
    width: 900px;
  }
}
/*
        0px                    500px                   800px                       sonsuz1200
            telefon ekranı            tablet Ekranı           Bilgisayar ekranı 
    */

/*        <50         0                >500 && <800                     >800           */
